<a href="https://colab.research.google.com/github/nkinsman16/HW-Week-3-BasicCleaning_R/blob/main/Format_numeric_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# FORMATTING - numeric values



Let me ***scrape*** this [table](https://www.cia.gov/the-world-factbook/field/real-gdp-purchasing-power-parity/country-comparison/) from the CIA World Fact Book.

In [1]:
# read data from website
linkCiaPurchPower='https://www.cia.gov/the-world-factbook/field/real-gdp-purchasing-power-parity/country-comparison/'

library(rvest)

# get tables from website
ciapupow = read_html(linkCiaPurchPower)%>%html_table()%>%.[[1]] #get first table, there is only one

# see table scraped
head(ciapupow)

  Rank Country       Var.3               Date of Information
1 1    China         $33,598,000,000,000 2024 est.
2 2    United States $25,676,000,000,000 2024 est.
3 3    India         $14,244,000,000,000 2024 est.
4 4    Russia        $6,089,000,000,000  2024 est.
5 5    Japan         $5,715,000,000,000  2024 est.
6 6    Germany       $5,247,000,000,000  2024 est.

The data needs cleaning before formatting. Review previous contents and do the cleaning.

 ### I.1 Cleaning before formatting

You see currency symbols and commas above, then you know R has not identified the 3rd column as numerical.

The first step is to know if only '**$**' and '**,**' are present beside numbers:

In [2]:
# replace any digit by 'nothing' ('')
# and show unique values

# function
byeDigits=function(x) gsub('\\d','',x)
# check
unique(apply(ciapupow[,c(3)],1,FUN = byeDigits))

[1] "$,,,," "$,,,"  "$,,"

We have confirmed that the column will need a simple cleaning by replacing values. Let me first change that column name:

In [3]:
names(ciapupow)[3]='RealGDP'

Let's create a function to clean by replacing and getting rid of leading and trailing spaces:

In [4]:
keepDigits=function(x) gsub('\\D','',trimws(x))

ciapupow[,c(3)]=  apply(ciapupow[,c(3)],1,FUN = keepDigits)

# Notice 'RealGDP' is still character type
str(ciapupow)

tibble [221 × 4] (S3: tbl_df/tbl/data.frame)
 $ Rank               : int [1:221] 1 2 3 4 5 6 7 8 9 10 ...
 $ Country            : chr [1:221] "China" "United States" "India" "Russia" ...
 $ RealGDP            : chr [1:221] "33598000000000" "25676000000000" "14244000000000" "6089000000000" ...
 $ Date of Information: chr [1:221] "2024 est." "2024 est." "2024 est." "2024 est." ...

In [5]:
ciapupow

    Rank Country                          RealGDP        Date of Information
1    1   China                            33598000000000 2024 est.
2    2   United States                    25676000000000 2024 est.
3    3   India                            14244000000000 2024 est.
4    4   Russia                           6089000000000  2024 est.
5    5   Japan                            5715000000000  2024 est.
6    6   Germany                          5247000000000  2024 est.
7    7   Brazil                           4165000000000  2024 est.
8    8   Indonesia                        4102000000000  2024 est.
9    9   France                           3732000000000  2024 est.
10  10   United Kingdom                   3636000000000  2024 est.
11  11   Italy                            3133000000000  2024 est.
12  12   Turkey (Turkiye)                 3018000000000  2024 est.
13  13   Mexico                           2883000000000  2024 est.
14  14   Korea, South                     2607000000000  2023 est.
15  15   Spain                            2361000000000  2024 est.
16  16   Canada                           2341000000000  2024 est.
17  17   Saudi Arabia                     2213000000000  2024 est.
18  18   Egypt                            1958000000000  2024 est.
19  19   Taiwan                           1743000000000  2023 est.
20  20   Poland                           1649000000000  2024 est.
21  21   Australia                        1635000000000  2024 est.
22  22   Thailand                         1558000000000  2024 est.
23  23   Iran                             1486000000000  2024 est.
24  24   Bangladesh                       1473000000000  2024 est.
25  25   Vietnam                          1456000000000  2024 est.
26  26   Pakistan                         1390000000000  2024 est.
27  27   Nigeria                          1318000000000  2024 est.
28  28   Netherlands                      1276000000000  2024 est.
29  29   Argentina                        1213000000000  2024 est.
30  30   Malaysia                         1212000000000  2024 est.
⋮   ⋮    ⋮                                ⋮              ⋮
192 192  Comoros                          3092000000     2024 est.
193 193  Antigua and Barbuda              2772000000     2024 est.
194 194  Eritrea                          2534000000     2024 est.
195 195  San Marino                       2393000000     2022 est.
196 196  Grenada                          2080000000     2024 est.
197 197  Solomon Islands                  2070000000     2024 est.
198 198  Sint Maarten                     1986000000     2024 est.
199 199  Saint Vincent and the Grenadines 1883000000     2024 est.
200 200  British Virgin Islands           1634000000     2024 est.
201 201  Turks and Caicos Islands         1554000000     2024 est.
202 202  Samoa                            1503000000     2024 est.
203 203  Saint Kitts and Nevis            1465000000     2024 est.
204 204  Sao Tome and Principe            1291000000     2024 est.
205 205  Northern Mariana Islands         1242000000     2016 est.
206 206  Dominica                         1241000000     2024 est.
207 207  Vanuatu                          1039000000     2024 est.
208 208  Tonga                            740082000      2023 est.
209 209  American Samoa                   658000000      2016 est.
210 210  Kiribati                         438143000      2024 est.
211 211  Micronesia, Federated States of  432679000      2024 est.
212 212  Cook Islands                     401155000      2024 est.
213 213  Anguilla                         362499000      2024 est.
214 214  Palau                            280025000      2023 est.
215 215  Marshall Islands                 270809000      2024 est.
216 216  Saint Pierre and Miquelon        261300000      2015 est.
217 217  Nauru                            150581000      2024 est.
218 218  Montserrat                       89254000       2024 est.
219 219  Tuvalu                           57055000       2023 est.
220 220  Niue                             18700000       2021 est.
221 221  Tokelau                          7711583        2017 est.

While *RealGDP* is clean, you do not have the right format:

In [6]:
summary(ciapupow$RealGDP)

   Length     Class      Mode
      221 character character


### I.2 Formatting number using **as_numeric**:

This is the function that will solve our problem.

You can only apply this function when you are sure your numeric column is clean.

Let's see:

In [7]:
ciapupow$RealGDP=as.numeric(ciapupow$RealGDP)

#Notice 'RealGDP' is numeric now
str(ciapupow)

tibble [221 × 4] (S3: tbl_df/tbl/data.frame)
 $ Rank               : int [1:221] 1 2 3 4 5 6 7 8 9 10 ...
 $ Country            : chr [1:221] "China" "United States" "India" "Russia" ...
 $ RealGDP            : num [1:221] 3.36e+13 2.57e+13 1.42e+13 6.09e+12 5.72e+12 ...
 $ Date of Information: chr [1:221] "2024 est." "2024 est." "2024 est." "2024 est." ...

In [8]:
summary(ciapupow$RealGDP)

     Min.   1st Qu.    Median      Mean   3rd Qu.      Max.
7.712e+06 9.308e+09 7.125e+10 7.802e+11 3.809e+11 3.360e+13

If the cell isn’t clean, R will coerce the value to NA. Explicitly handling missing values during cleaning is preferable to relying on automatic coercion