<a href="https://colab.research.google.com/github/nkinsman16/HW-Week-3-BasicCleaning_R/blob/main/Format_dates_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# FORMATTING - date values

Let me get the data about [Fire 9-1-1  calls  from Seattle](https://dev.socrata.com/foundry/data.seattle.gov/kzjm-xkqj) from Seattle:

In [2]:
library(jsonlite)
url="https://data.seattle.gov/resource/kzjm-xkqj.json"

# as data frame
data911web = fromJSON(url)

# names
names(data911web)

 [1] "address"                     "type"
 [3] "datetime"                    "latitude"
 [5] "longitude"                   "report_location"
 [7] "incident_number"             ":@computed_region_ru88_fbhk"
 [9] ":@computed_region_kuhn_3gp2" ":@computed_region_q256_3sug"
[11] ":@computed_region_2day_rhn5" ":@computed_region_cyqu_gs94"

Let's subset:

In [3]:
data911DF=data911web[,c('address','type','datetime','latitude','longitude','incident_number')]

Let's see the head:

In [4]:

head(data911DF)

  address                              type
1 3260 Sw Graham St                    Automatic Fire Alarm Resd
2 S Juneau St / Lake Washington Blvd S Aid Response
3 Nb Sr99 At N 59th St                 Aid Response Freeway
4 2101 N Northlake Way                 Investigate Out Of Service
5 607 3rd Ave                          Alarm Bell
6 715 9th Ave                          Medic Response
  datetime                latitude  longitude   incident_number
1 2026-01-10T09:41:00.000 47.54664  -122.373764 F260004359
2 2026-01-10T09:40:00.000 47.549669 -122.25757  F260004358
3 2026-01-10T09:37:00.000 47.671692 -122.34713  F260004357
4 2026-01-10T09:23:00.000 47.646871 -122.333913 F260004354
5 2026-01-10T09:22:00.000 47.602813 -122.331449 F260004352
6 2026-01-10T09:05:00.000 47.606371 -122.325496 F260004350

Let's check the current data types:

In [5]:
str(data911DF)

'data.frame':	1000 obs. of  6 variables:
 $ address        : chr  "3260 Sw Graham St" "S Juneau St / Lake Washington Blvd S" "Nb Sr99 At N 59th St" "2101 N Northlake Way" ...
 $ type           : chr  "Automatic Fire Alarm Resd" "Aid Response" "Aid Response Freeway" "Investigate Out Of Service" ...
 $ datetime       : chr  "2026-01-10T09:41:00.000" "2026-01-10T09:40:00.000" "2026-01-10T09:37:00.000" "2026-01-10T09:23:00.000" ...
 $ latitude       : chr  "47.54664" "47.549669" "47.671692" "47.646871" ...
 $ longitude      : chr  "-122.373764" "-122.25757" "-122.34713" "-122.333913" ...
 $ incident_number: chr  "F260004359" "F260004358" "F260004357" "F260004354" ...

### II.1 From strings to dates

As you see, the datetime **is not**  recognized as _date_:

In [6]:
#  is it a string?
is.character(data911DF$datetime[1])

[1] TRUE

The first value *really* look like this:

In [7]:
data911DF$datetime[1]

[1] "2026-01-10T09:41:00.000"

R has a nice function **as.POSIXct**:

In [8]:
# notice %OS  which will recover milliseconds (not shown)
str(as.POSIXct(data911DF$datetime, format="%Y-%m-%dT%H:%M:%OS")[1])

 POSIXct[1:1], format: "2026-01-10 09:41:00"

Let's make the change:

In [9]:
data911DF$datetime=as.POSIXct(data911DF$datetime, format="%Y-%m-%dT%H:%M:%OS")

# verify types
str(data911DF)

'data.frame':	1000 obs. of  6 variables:
 $ address        : chr  "3260 Sw Graham St" "S Juneau St / Lake Washington Blvd S" "Nb Sr99 At N 59th St" "2101 N Northlake Way" ...
 $ type           : chr  "Automatic Fire Alarm Resd" "Aid Response" "Aid Response Freeway" "Investigate Out Of Service" ...
 $ datetime       : POSIXct, format: "2026-01-10 09:41:00" "2026-01-10 09:40:00" ...
 $ latitude       : chr  "47.54664" "47.549669" "47.671692" "47.646871" ...
 $ longitude      : chr  "-122.373764" "-122.25757" "-122.34713" "-122.333913" ...
 $ incident_number: chr  "F260004359" "F260004358" "F260004357" "F260004354" ...

Once you have this column as a date, you can do something like this:

In [10]:
data911DF$date=format(data911DF$datetime,"%d-%m-%Y")
data911DF$day=format(data911DF$datetime,"%d")
data911DF$year=format(data911DF$datetime,"%Y")
data911DF$month=format(data911DF$datetime,"%B")
data911DF$weekday=weekdays(data911DF$datetime)
data911DF$hour=format(data911DF$datetime,"%H")

#
head(data911DF)

  address                              type
1 3260 Sw Graham St                    Automatic Fire Alarm Resd
2 S Juneau St / Lake Washington Blvd S Aid Response
3 Nb Sr99 At N 59th St                 Aid Response Freeway
4 2101 N Northlake Way                 Investigate Out Of Service
5 607 3rd Ave                          Alarm Bell
6 715 9th Ave                          Medic Response
  datetime            latitude  longitude   incident_number date       day year
1 2026-01-10 09:41:00 47.54664  -122.373764 F260004359      10-01-2026 10  2026
2 2026-01-10 09:40:00 47.549669 -122.25757  F260004358      10-01-2026 10  2026
3 2026-01-10 09:37:00 47.671692 -122.34713  F260004357      10-01-2026 10  2026
4 2026-01-10 09:23:00 47.646871 -122.333913 F260004354      10-01-2026 10  2026
5 2026-01-10 09:22:00 47.602813 -122.331449 F260004352      10-01-2026 10  2026
6 2026-01-10 09:05:00 47.606371 -122.325496 F260004350      10-01-2026 10  2026
  month   weekday  hour
1 January Saturday 09
2 January Saturday 09
3 January Saturday 09
4 January Saturday 09
5 January Saturday 09
6 January Saturday 09

The extraction is very easy. The results are **all** strings:

In [11]:
# verify
str(data911DF)

'data.frame':	1000 obs. of  12 variables:
 $ address        : chr  "3260 Sw Graham St" "S Juneau St / Lake Washington Blvd S" "Nb Sr99 At N 59th St" "2101 N Northlake Way" ...
 $ type           : chr  "Automatic Fire Alarm Resd" "Aid Response" "Aid Response Freeway" "Investigate Out Of Service" ...
 $ datetime       : POSIXct, format: "2026-01-10 09:41:00" "2026-01-10 09:40:00" ...
 $ latitude       : chr  "47.54664" "47.549669" "47.671692" "47.646871" ...
 $ longitude      : chr  "-122.373764" "-122.25757" "-122.34713" "-122.333913" ...
 $ incident_number: chr  "F260004359" "F260004358" "F260004357" "F260004354" ...
 $ date           : chr  "10-01-2026" "10-01-2026" "10-01-2026" "10-01-2026" ...
 $ day            : chr  "10" "10" "10" "10" ...
 $ year           : chr  "2026" "2026" "2026" "2026" ...
 $ month          : chr  "January" "January" "January" "January" ...
 $ weekday        : chr  "Saturday" "Saturday" "Saturday" "Saturday" ...
 $ hour           : chr  "09" "09" "09" "09" ...

Notice that you have not lost the miliseconds. They will not be displayed unless you force it:

In [12]:
# this will be a string again:
format(data911DF$datetime, "%Y-%m-%d %H:%M:%OS3")[1]  # "%OS3" forces 3 decimal places

[1] "2026-01-10 09:41:00.000"

Notice now you can compute differences between dates:

In [13]:
# these are some 911 calls
data911DF[c(1,10,1000),]

     address           type                      datetime            latitude
1    3260 Sw Graham St Automatic Fire Alarm Resd 2026-01-10 09:41:00 47.54664
10   1005 Terrace St   Automatic Medical Alarm   2026-01-10 08:33:00 47.604615
1000 544 Elliott Ave W Medic Response            2026-01-06 17:33:00 47.62409
     longitude   incident_number date       day year month   weekday  hour
1    -122.373764 F260004359      10-01-2026 10  2026 January Saturday 09
10   -122.32228  F260004345      10-01-2026 10  2026 January Saturday 08
1000 -122.365054 F260002757      06-01-2026 06  2026 January Tuesday  17

In [14]:

# then


difftime(data911DF$datetime[1],data911DF$datetime[1000], units = "days")#|>as.numeric()

Time difference of 3.672222 days

In [15]:
# also
difftime(data911DF$datetime[1],data911DF$datetime[10], units = "mins")#|>as.numeric()

Time difference of 68 mins

`difftime` options are “secs”, “mins”, “hours”, “days”, “weeks”.

For years:

In [16]:
as.POSIXlt(data911DF$datetime[1])$year - as.POSIXlt(data911DF$datetime[10])$year

[1] 0

### II.2 The date format

It is good you are aware of the date format language:
* %Y (4-digit year), %y (2-digit year)
* %m (2-digit month), %b (short name of month) %B full name of month
* %d (1-digit month or 2-digit month)

See these examples:

In [17]:
dates=c('20240201','20240102')

as.Date(dates,format='%Y%m%d')

[1] "2024-02-01" "2024-01-02"

In [18]:
dates=c('2024/12/10','2024/10/12')
as.Date(dates,format='%Y/%m/%d')

[1] "2024-12-10" "2024-10-12"

In [19]:
dates=c('12nov2023','11dec2023')
as.Date(dates,format='%d%b%Y')

[1] "2023-11-12" "2023-12-11"

In [20]:
dates=c('NOVEMBER122023','DECEMBER112023')
as.Date(dates,format='%B%d%Y')

[1] "2023-11-12" "2023-12-11"

In [21]:
dates=c('NOVEMBER 12,2023','DECEMBER 11,2023')
as.Date(dates,format='%B %d,%Y')

[1] "2023-11-12" "2023-12-11"